<!--acces_utilisateurs.html-->
<html lang="fr"></html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../static/pic.png" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Accès Utilisateurs</title>
</head>
<body class="bg-gray-100">
        <div class="bg-white p-6 rounded-lg shadow-lg">
            <div class="flex justify-between items-center mb-4">
                <h2 class="text-2xl font-bold">Accès Utilisateurs</h2>
                <a href="/add-user" class="bg-green-500 text-white px-4 py-2 rounded hover:bg-green-600">Ajouter un Utilisateur</a>
            </div>
            <table class="min-w-full bg-white">
                <thead>
                    <tr>
                        <th class="py-2 px-4 border-b">ID</th>
                        <th class="py-2 px-4 border-b">Nom</th>
                        <th class="py-2 px-4 border-b">Prénom</th>
                        <th class="py-2 px-4 border-b">Email</th>
                        <th class="py-2 px-4 border-b">Téléphone</th>
                        <th class="py-2 px-4 border-b">Rôle</th>
                        <th class="py-2 px-4 border-b">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                    <tr>
                        <td class="py-2 px-4 border-b">{{ user.id_utilisateur }}</td>
                        <td class="py-2 px-4 border-b">{{ user.nom }}</td>
                        <td class="py-2 px-4 border-b">{{ user.prenom }}</td>
                        <td class="py-2 px-4 border-b">{{ user.email }}</td>
                        <td class="py-2 px-4 border-b">{{ user.telephone }}</td>
                        <td class="py-2 px-4 border-b">{{ user.role.name }}</td>
                        <td class="py-2 px-4 border-b">
                            <button class="bg-blue-500 text-white px-2 py-1 rounded hover:bg-blue-600" onclick="UpdateUser({{ user.id_utilisateur }})" >Modifier</button>
                            <button class="bg-red-500 text-white px-2 py-1 rounded hover:bg-red-600" onclick="deleteUser({{ user.id_utilisateur }})">Supprimer</button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>

    <script>
        function deleteUser(id_utilisateur) {
            if (confirm("Voulez-vous supprimer cet utilisateur ?")) {
                window.parent.location.href = "/delete-user/" + id_utilisateur;
                }
                }
        function UpdateUser(id_utilisateur) {
           
                window.location.href = "/update-user/" + id_utilisateur;
                
                }

    </script>
</body>
</html>