<html lang="fr"></html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../static/pic.png" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Liste des Biens</title>
</head>
<body class="bg-gray-100">
    
        <div class="bg-white p-6 rounded-lg shadow-lg">
            <div class="flex justify-between items-center mb-4">
                <h2 class="text-2xl font-bold">Liste Biens</h2>
                <a href="/add-Bien" class="bg-green-500 text-white px-4 py-2 rounded hover:bg-green-600">Ajouter un Bien</a>
            </div>
            <table class="min-w-full bg-white">
                <thead>
                    <tr>
                        <th class="py-2 px-4 border-b">ID Bien</th>
                        <th class="py-2 px-4 border-b">Adresse</th>
                        <th class="py-2 px-4 border-b">Superficie</th>
                        <th class="py-2 px-4 border-b">Etat</th>
                        <th class="py-2 px-4 border-b">Type</th>
                        <th class="py-2 px-4 border-b">Ville</th>
                        <th class="py-2 px-4 border-b">ID Prop</th>
                        <th class="py-2 px-4 border-b">ID Agent</th>
                        <th class="py-2 px-4 border-b">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for bien in biens %}
                    <tr>
                        
                        <td class="py-2 px-4 border-b">{{ bien.id_bien }}</td>
                        <td class="py-2 px-4 border-b">{{ bien.adresse }}</td>
                        <td class="py-2 px-4 border-b">{{ bien.superficie }}</td>
                        <td class="py-2 px-4 border-b">{{ bien.etat.name }}</td>
                        <td class="py-2 px-4 border-b">{{ bien.type.name }}</td>
                        <td class="py-2 px-4 border-b">{{ bien.ville }}</td>
                        <td class="py-2 px-4 border-b">{{ bien.id_proprietaire }}</td>
                        <td class="py-2 px-4 border-b">{{ bien.id_agent }}</td>
                        <td class="py-2 px-4 border-b">
                            <button class="bg-blue-500 text-white px-2 py-1 rounded hover:bg-blue-600">Modifier</button>
                            <button class="bg-red-500 text-white px-2 py-1 rounded hover:bg-red-600">Supprimer</button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    
</body>
</html>