<html lang="fr"></html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../static/pic.png" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Liste des Biens</title>
</head>
<body class="bg-gray-100">
    
        <div class="bg-white p-6 rounded-lg shadow-lg">
            <div class="flex justify-between items-center mb-4">
                <h2 class="text-2xl font-bold">Liste Biens</h2>
                <button class="bg-blue-500 text-white px-2 py-1 rounded hover:bg-blue-600" onclick="printTable()">Imprimer</button>
                <a href="/add-bien" class="bg-green-500 text-white px-4 py-2 rounded hover:bg-green-600">Ajouter un Bien</a>
                
            </div>
            <table id="table" class="min-w-full bg-white">
                <thead>
                    <tr>
                        <th class="py-2 px-4 border-b">ID Bien</th>
                        <th class="py-2 px-4 border-b">Adresse</th>
                        <th class="py-2 px-4 border-b">Superficie</th>
                        <th class="py-2 px-4 border-b">Etat</th>
                        <th class="py-2 px-4 border-b">Type</th>
                        <th class="py-2 px-4 border-b">Ville</th>
                        <th class="py-2 px-4 border-b">ID Prop</th>
                        <th class="py-2 px-4 border-b">ID Agent</th>
                        <th class="py-2 px-4 border-b">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for bien in biens %}
                    <tr>
                        
                        <td class="py-2 px-4 border-b">{{ bien.id_bien }}</td>
                        <td class="py-2 px-4 border-b">{{ bien.adresse }}</td>
                        <td class="py-2 px-4 border-b">{{ bien.superficie }}</td>
                        <td class="py-2 px-4 border-b">{{ bien.etat.name }}</td>
                        <td class="py-2 px-4 border-b">{{ bien.type.name }}</td>
                        <td class="py-2 px-4 border-b">{{ bien.ville }}</td>
                        <td class="py-2 px-4 border-b">{{ bien.id_proprietaire }}</td>
                        <td class="py-2 px-4 border-b">{{ bien.id_agent }}</td>
                        <td class="py-2 px-4 border-b">
                            <button class="bg-blue-500 text-white px-2 py-1 rounded hover:bg-blue-600" onclick="UpdateBien({{ bien.id_bien }})">Modifier</button>
                            <button class="bg-red-500 text-white px-2 py-1 rounded hover:bg-red-600" onclick="deleteBien({{ bien.id_bien }})">Supprimer</button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <script>
            function deleteBien(id_bien) {
                if (confirm("Voulez-vous supprimer cet utilisateur ?")) {
                    window.parent.location.href = "/delete-bien/" + id_bien;
                    }
                    }
            function UpdateBien(id_bien) {
               
                    window.location.href = "/update-bien/" + id_bien;
                    
                    }
            function printTable() {
                var printContents = document.getElementById('table').outerHTML;
                var table = document.createElement('table');
                table.innerHTML = printContents;
                var rows = table.rows;
                for (var i = 0; i < rows.length; i++) {
                    var cells = rows[i].cells;
                    if (cells.length > 8) {
                        cells[8].remove();
                    }
                }
                var popupWin = window.open('', '_blank', 'width=1000,height=600');
                popupWin.document.open();
                popupWin.document.write('<html><head><title>Print Table</title></head><body onload="window.print()">' + table.outerHTML + '</body></html>');
                popupWin.document.close();
            }
        </script>
</body>
</html>