<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="../static/pic.png">
    <link rel="stylesheet" href="../static/visit.css">
    
    <title>{{title}}</title>
</head>
<body>
    <nav class="navbar">
        <div class="logo">
            <a href=""><img src="../static/pic.png" alt="aadl 2.0"></a>
           </div>
        <ul class="nav-links">
            <li><a href="/">Accueil</a></li>
            <li><a href="/list">Nos Propriétés</a></li>
            <li><a href="/login">
                {{connected}}
                {% if connected %}
                    Déconnexion
                {% else %}
                    Connexion
                {% endif %}
            </a></li>
        </ul>
    </nav>

    <header class="hero">
        <div class="hero-content">
            <h1>Trouvez la Maison de Vos Rêves</h1>
            <p>Explorez notre large sélection de propriétés modernes et luxueuses disponibles à la vente.</p>
            <a href="/list" class="btn">Voir Nos Propriétés</a>
        </div>
    </header>

    <section class="features">
        <div class="feature-item">
            <h2>Large Sélection de Propriétés</h2>
            <p>Que vous cherchiez un appartement en ville, une maison familiale ou une villa de luxe, nous avons ce qu'il vous faut.</p>
        </div>
        <div class="feature-item">
            <h2>Expertise Locale</h2>
            <p>Nos agents immobiliers locaux sont là pour vous guider tout au long du processus d'achat et trouver la propriété idéale pour vous.</p>
        </div>
        <div class="feature-item">
            <h2>Prix Compétitifs</h2>
            <p>Profitez de nos prix attractifs pour acquérir une propriété de haute qualité au meilleur prix.</p>
        </div>
    </section>

    <footer class="footer">
        <p>&copy; 2024 AADL 2.0. Tous droits réservés.</p>
    </footer>
</body>
</html>
