<html lang="fr"></html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../static/pic.png" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Liste des Locations</title>
</head>
<body class="bg-gray-100">
        <div class="bg-white p-6 rounded-lg shadow-lg">
            <h2 class="text-2xl font-bold mb-4">Liste des Locations</h2>
            <table class="min-w-full bg-white">
                <thead>
                    <tr>
                        <th class="py-2 px-4 border-b">ID Location</th>
                        <th class="py-2 px-4 border-b">ID Bien</th>
                        <th class="py-2 px-4 border-b">Date Début</th>
                        <th class="py-2 px-4 border-b">Date Fin</th>
                        <th class="py-2 px-4 border-b">Prix</th>
                        <th class="py-2 px-4 border-b">ID Locataire</th>
                        <th class="py-2 px-4 border-b">État</th>
                        <th class="py-2 px-4 border-b">Paiement</th>
                        <th class="py-2 px-4 border-b">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for location in locations %}
                    <tr>
                        <td class="py-2 px-4 border-b">{{ location.id_location }}</td>
                        <td class="py-2 px-4 border-b">{{ location.id_bien }}</td>
                        <td class="py-2 px-4 border-b">{{ location.date_debut }}</td>
                        <td class="py-2 px-4 border-b">{{ location.date_fin }}</td>
                        <td class="py-2 px-4 border-b">{{ location.prix }}</td>
                        <td class="py-2 px-4 border-b">{{ location.id_locataire }}</td>
                        <td class="py-2 px-4 border-b">{{ location.etat.name }}</td>
                        <td class="py-2 px-4 border-b">{{ location.payment }}</td>
                        <td class="py-2 px-4 border-b">
                            <button class="bg-blue-500 text-white px-2 py-1 rounded hover:bg-blue-600">Modifier</button>
                            <button class="bg-red-500 text-white px-2 py-1 rounded hover:bg-red-600">Supprimer</button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
</body>
</html>