<html lang="fr"></html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../static/pic.png" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Ajouter une Vente</title>
</head>
<body class="bg-gray-100">
   
        <div class="bg-white p-6 rounded-lg shadow-lg">
            <div class="flex justify-between items-center mb-4">
                <h2 class="text-2xl font-bold">Liste des Ventes</h2>
                <button class="bg-blue-500 text-white px-2 py-1 rounded hover:bg-blue-600" onclick="printTable()">Imprimer</button>
                <a href="/add-sale" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Ajouter une Vente</a>
                
            </div>
            <table id="table" class="min-w-full bg-white">
                <thead>
                    <tr>
                        <th class="py-2 px-4 border-b">ID Vente</th>
                        <th class="py-2 px-4 border-b">Bien</th>
                        <th class="py-2 px-4 border-b">Agent</th>
                        <th class="py-2 px-4 border-b">adresse</th>
                        <th class="py-2 px-4 border-b">Date de Vente</th>
                        <th class="py-2 px-4 border-b">Montant Payé</th>
                        <th class="py-2 px-4 border-b">Prix</th>
                        <th class="py-2 px-4 border-b">État</th>
                    </tr>
                    
                </thead>
                <tbody id="sales-list">

                    {% for prop in propbien %}
                <tr >
                    <td class="py-2 px-4 border-b">{{ prop.id_vente }}</td>
                    <td class="py-2 px-4 border-b"><a href="" onclick="fetchBienDetails( {{ prop.id_bien }} );/*don't correct this*/ return false;" >{{ prop.id_bien }}</a></td> 
                    <td class="py-2 px-4 border-b">{{ prop.id_agent }}</td>
                    <td class="py-2 px-4 border-b">{{ address[prop.id_vente] }}</td>
                    <td class="py-2 px-4 border-b">{{ prop.date_vente }}</td>
                    <td class="py-2 px-4 border-b">{{ prop.montant_paye }}</td>
                    <td class="py-2 px-4 border-b">{{ prop.prix }}</td>
                    <td class="py-2 px-4 border-b">{{ prop.etat.name }}</td>
                    
                </tr>
                {% endfor %}

                
                </tbody>
            </table>
        </div>

        

   
   
</body>
<script>
    function printTable() {
        var printContents = document.getElementById('table').outerHTML;
        var popupWin = window.open('', '_blank', 'width=1000,height=600');
        popupWin.document.open();
        popupWin.document.write('<html><head><title>Print Table</title></head><body onload="window.print()">' + printContents + '</body></html>');
        popupWin.document.close();
    }
</script>
</html>