<html lang="fr"></html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../static/pic.png" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Transactions</title>
</head>
<body class="bg-gray-100">
    
        <div class="bg-white p-6 rounded-lg shadow-lg">
            <div class="flex justify-between items-center mb-4">
                <h2 class="text-2xl font-bold">Liste des Transactions</h2>
                <button class="bg-blue-500 text-white px-2 py-1 rounded hover:bg-blue-600" onclick="printTable()">Imprimer</button>
                <a href="/add-trans" class="bg-green-500 text-white px-4 py-2 rounded hover:bg-green-600">Ajouter une Transaction</a>
            </div>
            <table id="table" class="min-w-full bg-white">
                <thead>
                    <tr>
                        <td class="py-2 px-4 border-b">ID Transaction</td>
                        <td class="py-2 px-4 border-b">Montant</td>
                        <td class="py-2 px-4 border-b">Date Transaction</td>
                        <td class="py-2 px-4 border-b">ID Vente</td>
                        <td class="py-2 px-4 border-b">ID Location</td>
                        <td class="py-2 px-4 border-b">Actions</td>
                    </tr>
                </thead>
                <tbody>
                    {% for transaction in transactions %}
                    <tr>
                        <td class="py-2 px-4 border-b">{{ transaction.id_transaction }}</td>
                        <td class="py-2 px-4 border-b">{{ transaction.montant }}</td>
                        <td class="py-2 px-4 border-b">{{ transaction.date_transaction }}</td>
                        <td class="py-2 px-4 border-b">{{ transaction.id_vente }}</td>
                        <td class="py-2 px-4 border-b">{{ transaction.id_location }}</td>
                        <td class="py-2 px-4 border-b">
                            <button class="bg-blue-500 text-white px-2 py-1 rounded hover:bg-blue-600" onclick="Updateoffre({{ transaction.id_transaction }})">Modifier</button>
                            <button class="bg-red-500 text-white px-2 py-1 rounded hover:bg-red-600" onclick="deleteoffre({{ transaction.id_transaction }})">Supprimer</button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <script>
            function deleteoffre(id_bien) {
                if (confirm("Voulez-vous supprimer cet utilisateur ?")) {
                    window.parent.location.href = "/delete-trans/" + id_bien;
                    }
                    }
            function Updateoffre(id_bien) {
               
                    window.location.href = "/update-trans/" + id_bien;
                    
                    }
            function printTable() {
                var printContents = document.getElementById('table').outerHTML;
                var table = document.createElement('table');
                table.innerHTML = printContents;
                var rows = table.rows;
                for (var i = 0; i < rows.length; i++) {
                    var cells = rows[i].cells;
                    if (cells.length > 5) {
                        cells[5].remove();
                    }
                }
                var popupWin = window.open('', '_blank', 'width=1000,height=600');
                popupWin.document.open();
                popupWin.document.write('<html><head><title>Print Table</title></head><body onload="window.print()">' + table.outerHTML + '</body></html>');
                popupWin.document.close();
            }
        </script>
</body>
</html>